extend ../layout

block content

   img.dimension(src="/images/flow.png")
   h3 Flow

   unless project

      .well
         h4 Project
         form(action="/flow/project",method="get")
            select(name="project",size=5,class="form-control",required)
               optgroup(label="MyDepartment/MyProduct")
                     option MyApplication
                     option AnotherApplication
            button.btn.btn-primary.pull-right(type="submit") project flow

   else

      .well
         h4 Project #{project.title}

      unless branch
         .well
            .job-section Branch
            form(action="/flow/project/#{project.title}/branch",method="get",required)
               .row
                  .col-lg-6
                     .input-group
                        select(name="branch",size=3,class="form-control")
                           optgroup(label="branches")
                              each branch in branches
                                 option= branch
                        span.input-group-btn
                           button.btn.btn-primary.pull-right(type="submit") select
      else
         .well
            h4 Branch #{branch}

         if environment
            .well
               h4 Project environment #{environment}

         .well
            .job-section Build snapshot
            .job-buttons
               form(action="/flow/project/#{project.title}/branch/#{branch}/project-environment/#{projectEnvironment||'none'}/build",method="post")
                  if build
                     button.btn.btn-default(type="submit") build
                  else
                     button.btn.btn-success(type="submit") build

         unless projectEnvironment
            .well
               .job-section Project environment
               // .job-buttons
               form(action="/flow/project/#{project.title}/branch/#{branch}/project-environment",method="get",required)
                  .row
                     .col-lg-6
                        .input-group
                           select(name="environment",size=3,class="form-control",required)
                              option project1
                              option project2
                              option project3
                              option project4
                           span.input-group-btn
                              button.btn.btn-primary.pull-right(type="submit") select

         else
            .well
               .job-section Deploy snapshot
               .job-buttons
                  // if build
                  form(action="/flow/project/#{project.title}/branch/#{branch}/build/#{build||'latest'}/project-environment/#{projectEnvironment}/deploy",method="post")
                     button.btn.btn-success(type="submit") deploy
                  // else
                  //    form(action="/flow/project/#{project.title}/branch/#{branch}/build/latest/deploy",method="post")
                  //       button.btn.btn-primary(type="submit") deploy



      .well
         .job-section Select release
         form(action="/flow/project/#{project.title}/release",method="get")
            .row
               .col-lg-6
                  .input-group
                     select(name="branch",size=3,class="form-control")
                        each tag in tags
                           option= tag
                     span.input-group-btn
                        button.btn.btn-primary.pull-right(type="submit") select




