extend ../layout
block content

   #breadcrumb project/#{project.title}/promote

   h4 promote project #{project.title}

   form.form-horizontal(method="post",action="/project/#{project.title}/environment/promote")

      .form-group
         label.col-sm-2.control-label(for="environment") environment
         .col-sm-4
            select.form-control(multiple,name="environment",size="9",required)#environment
               each env in environments.funnel
                  if env.type != "development"
                     option(value="#{env.environment}") #{env.environment} : #{env.version}
                     if env.funnel
                        each funnel in env.funnel
                           each funnelenv in environments.funnel
                              if funnelenv.environment == funnel
                                 option(disabled) ----> #{funnel} : #{funnelenv.version}

      .form-group
         .col-sm-8
            button.btn.btn-success.col-sm-4.pull-right(type="submit") promote
