extend ../layout
block content


   #breadcrumb project/#{project.title}

   img.righter(src="/images/project.png")
   h4 project #{project.title}

   ul
      li
         a(href="/project/#{project.title}/build") build

      li
         a(href="/project/#{project.title}/test") test

      li
         a(href="/project/#{project.title}/environment/deploy") deploy

      li
         a(href="/project/#{project.title}/tag") tag

      li
         a(href="/project/#{project.title}/environment/promote") promote

      li
         a(href="/project/#{project.title}/environment/restart") restart

      li
         a(href="/project/#{project.title}/environment/versions") find versions
