extend ../layout
block content

   #breadcrumb project/#{project.title}/test

   h4 test project #{project.title}

   form.form-horizontal(method="post",action="/project/#{project.title}/test")

      .form-group
         label.col-sm-2.control-label(for="test-types") type of test
         #test-types.col-sm-6
            .radio
               label
                  input(type="radio",name="testtype",id="type-unit",value="unit")
                  | unit
            .radio
               label
                  input(type="radio",name="testtype",id="type-integration",value="integration",checked)
                  | integration
            .radio
               label
                  input(type="radio",name="testtype",id="type-functional",value="functional")
                  | functional
            .radio
               label
                  input(type="radio",name="testtype",id="type-smoke",value="smoke")
                  | smoke
            .radio
               label
                  input(type="radio",name="testtype",id="type-performance",value="performance")
                  | performance

      .form-group
         label.col-sm-2.control-label(for="branch") branch or tag
         .col-sm-4
            select.form-control(multiple,name="branch")
               if branches.masterBranch
               option(disabled) ---- master branch
                  option(selected)= branches.masterBranch
                  option(disabled) ----
               option(disabled) ---- branches
               each branch in branches.branches
                  if branches.masterBranch
                     if branches.masterBranch != branch
                        option= branch
                  else
                     option= branch
               option(disabled) ---- tags
               each version in versions.releases
                  option= version


      .form-group
         label.col-sm-2.control-label(for="environment") environment
         .col-sm-4
            select.form-control(multiple,name="environment")#environment
               option(selected) build
               option(disabled) ----
               option= environments.funnelStart
               option(disabled) ----
               each env in environments.funnel
                  if env.environment != environments.funnelStart
                     option= env.environment

      .form-group
         .col-sm-8
            button.col-sm-4.btn.btn-success.pull-right(type="submit") test
