extend ../layout
block content

   #breadcrumb project/#{project.title}/deploy

   h4 deploy project  #{project.title}

   form.form-horizontal(method="post",action="/project/#{project.title}/environment/deploy")

      .form-group
         label.col-sm-2.control-label(for="version") version
         .col-sm-4
            select.form-control(multiple,name="version")#version
               if versions.masterSnapshot
                  option(disabled) ---- master version
                  option(selected)= versions.masterSnapshot
               option(disabled) ---- snapshots
               each version in versions.snapshots
                  option= version
               option(disabled) ---- releases
               each version in versions.releases
                  option= version

      .form-group
         label.col-sm-2.control-label(for="environment") environment
         .col-sm-4
            select.form-control(multiple,name="environment")#environment
               option(selected)= environments.funnelStart
               option(disabled) ----
               each env in environments.funnel
                  if env != environments.funnelStart
                     option= env.environment

      .form-group
         .col-sm-8
            button.col-sm-4.btn.btn-success.pull-right(type="submit") deploy
