extend ../../layout

// mixin projectFlow(project)
//    .well
//       h4= project.title
//       if project.projects
//          each subProject in project.projects
//             +projectFlow(subProject)
      
block content
   
   img.dimension(src="/images/flow.png")
   h3 Flow
   
   .well
      h4 Project #{project.title}
      
   .well
      h4 Source branch #{sourceBranch}
      
   .well
      .job-section Create Branch
      form(action="/flow/project/#{project.title}/branch", 
            method="post", class="form-horizontal")
         
         .form-group
            label.col-sm-2.control-label Source
            .col-sm-10
               | #{sourceBranch}
         .col-sm-offset-2.form-group
            .radio
               label 
                  input(type="radio",id="branch-feature",name="branch-type",value="feature") 
                  | Feature
            .radio
               label 
                  input(type="radio",id="branch-bugfix",name="branch-type",value="bugfix") 
                  | Bugfix
            .radio
               label 
                  input(type="radio",id="branch-normal",name="branch-type",value="normal") 
                  | Normal
         .form-group
            .col-sm-offset-2
               button.btn.btn-success.pull-right(type="submit") create
      
      
   .well
      .job-section Bugfix branch
      
   .well
      .job-section Normal branch